*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

    --body: 16px;
    --order: 20px;

    --sm: 500;
    --md:700;
    --g:900;
}
body{
    font-family:'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
}
    main{
        height: auto;
        width: auto;
        
    }
        .conteiner{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        header{
            height: 230px; 
            display: flex;
            align-self: center;
        }
            
            .background-desktop{
                display: none;
                max-height:400px ;
                position: absolute;   
                width: 100%;
            }
            .background-mobile{
                max-height:200px ;
                position: absolute;   
                width: 100%;
            }


            .img-hero{
                position: relative;
                top: 4em; left: 5%;
                width: 100%;
                
            }
            .img-hero img{
                height: 165px ;
                max-width:90%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px ;
                
            }
        section{
            z-index: 10;
            background-color: hsl(0, 0%, 100%);
            max-width: 304px;
            height: auto;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
            .content{
                display: flex;
                flex-direction: column;
                align-items: center;

                color: var(--Dark-blue);
                padding-top: 10%;
                text-align: center;
            }
                .content h1{
                    font-size: var(--order);
                    font-weight: var(--g) ;
                }
                .content p{
                    padding-top: 5%;
                    font-size: 14px;
                    line-height: 20px;
                }
                .conteiner-options{
                    border-radius: 20px;
                    margin-top: 10%;
                    margin-bottom: 10%;
                    display: grid;
                    width: 90%;
                    height: 85px;
                    background: var(--Very-pale-blue);
                    grid-template-columns: 65px repeat(3, 1fr);
                }
                    .conteiner-options .icon{
                        position: relative;
                        top: 1.2em; left: 1em;

                    }
                    .conteiner-options div{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 110px;
                    }
                        .conteiner-options div p:nth-child(1){
                            margin-left: 5px;
                            color: var(--Dark-blue);
                            font-weight: var(--g);
                        }
                        .conteiner-options div p:nth-child(2){
                            color: var(--Desaturated-blue);
                            font-weight: var(--sm);
                        }
                        .conteiner-options a{
                            grid-column: 4/5;
                            margin-top: 3em;
                            margin-right: 1.5em;
                            text-decoration: none;
                            color: var(--Bright-blue);
                            font-size: 14px;
                            font-weight: var(--md);
                        }
            .btn-payment{
                background: var(--Bright-blue);
                border-radius: 10px;
                height: 40px;
                width: 90%;
                border: none;
                font-weight: var(--g);
                color: var(--Very-pale-blue);
                box-shadow: 0 15px 16px 5px #ddd;
                cursor: pointer;
            }
            .btn-order{
                margin-top: 10%;
                margin-bottom: 10%;
                background: transparent;
                border: none;
                color: var(--Desaturated-blue);
                font-weight: var(--md);
                cursor: pointer;
            }

@media screen and (min-width: 700px) {
    .background-desktop{
        display: block;
        z-index: 0;
    }
    .background-mobile{
        display: none;
    }
    header {
        display: flex;
        align-self: center;
        z-index: 10;
        margin-top: 5%;
    }
    .img-hero{
        position: relative;
        top: 4em; left: 5%;
        width: 100%;
        
    }
    .img-hero img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px ;
    }
}